*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Tourney', cursive;
}

a{
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.clearfix{
    content: "";
    display: table;
    clear: both;
}

nav li{
    float: left;
    background-color: rgba(217, 224, 233, 0.911);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-left: 50px;
    position: relative;
}

li:nth-child(1){
    box-shadow: 5px 5px 5px rgba(0, 0, 255, 0.61);
}

li:nth-child(2){
    box-shadow: 5px 5px 5px chartreuse;
}

li:nth-child(3){
    box-shadow: 5px 5px 5px orange;
}

.nav-container{
    width: 320px;
    height: 80px;
    text-align: center;
    padding-top: 40px;
    list-style-type: none;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 2;
}

.shoes-bg{
    height: 100vh;
    position: relative;
}

.shoe{
    width: 800px;
    height: 500px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

section h1{
    color: tomato;
    text-align: center;
    font-size: 50px;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, -50%);
}









#bella1{
    background-image: url(../img/02.png);
}

#brutta2{
    background-image: url(../img/01.png);
}

#converse3{
    background-image: url(../img/03.png);
}

#scarpa-bella{
    background-color: rgb(11, 11, 156);
}

#scarpa-brutta{
    background-color: chartreuse;
}

#scarpa-converse{
    background-color: orange;
}